In [91]:
import pandas as pd
import re

In [107]:
def parse_file(namefile):
    
    df_tmp = pd.DataFrame(columns = ['type','fold','RMSE','MAE','R2','features'])

    with open(namefile, "r") as f:
        file_contents = f.read()

    rmse = re.findall(r"RMSE test (-?[\d.]+)", file_contents)
    mae = re.findall(r"MAE test (-?[\d.]+)", file_contents)
    r2 = re.findall(r"R2 test (-?[\d.]+)", file_contents)
    
    pattern = r"_(.*?)\.log"
    match = re.search(pattern, namefile)
    if match:
        type_ = match.group(1)

    df_tmp['RMSE'] = pd.Series(rmse)
    df_tmp['MAE'] = pd.Series(mae)
    df_tmp['R2'] = pd.Series(r2)
    df_tmp['type'] = pd.Series([type_]*len(mae))
    df_tmp['fold'] = pd.Series([1,2,3,4,5]*(4))
    
    series_values = ['all'] * 5 + ['classic'] * 5 + ['pupil'] * 5 + ['ou'] * 5
    series_index = ['A', 'B', 'C', 'D', 'E'] * 4

    df_tmp['features'] = pd.Series(series_values)

    return df_tmp

In [108]:
df_mlp = parse_file("output_mlp.log")

In [109]:
df_gp = parse_file("output_gp.log")

In [110]:
df_rf = parse_file("output_rf.log")

In [111]:
df_svm = parse_file("output_svm.log")

In [112]:
df = pd.concat((df_mlp,df_gp,df_rf,df_svm))

In [113]:
df.to_csv('metrics_results.csv', index=False)

In [114]:
df

,type,fold,RMSE,MAE,R2,features
0,mlp,1,6.645392645798546,4.734409567427443,0.2993973667416415,all
1,mlp,2,6.241332272212418,4.531311278390365,0.382342024105662,all
2,mlp,3,6.652366945742425,4.861050674910973,0.2983042005811205,all
3,mlp,4,6.237107456437417,4.401830334944244,0.38286840220870844,all
4,mlp,5,7.016061230845402,4.540525289100382,0.22085573312485896,all
...,...,...,...,...,...,...
15,svm,1,7.958159887624277,5.5684662237757605,-0.004744859529721701,ou
16,svm,2,7.877014342991475,5.514765606829733,0.016177572548720764,ou
17,svm,3,7.917876064028625,5.545049093833559,0.005937062413019389,ou
18,svm,4,7.953239207267211,5.544675545046498,-0.003458509355278583,ou
19,svm,5,7.922428807421115,5.538770735040694,0.006545849132193693,ou

In [115]:
df_mlp = df[df['type']=='mlp']