In [23]:
import pandas as pd
import re
import numpy as np
from sklearn.metrics import mean_absolute_percentage_error

MAPE

In [24]:
tmp_df = pd.DataFrame(columns=['type','features','fold','MAPE'])
type_list = ['mlp','rf'] #,'svm','gp'
feat_list = ['all','ou','classic','pupil']
for fold in range(5):
    for type in type_list:
        for feat in feat_list:

            if type=='mlp':
                path='MLP/MLPRegressor'
            if type=='rf':
                path='RF/RandomForestRegressor'
            if type=='gp':
                path='GP/SparseGPRegression'
            if type=='svm':
                path='SVR/SVR'

            RF_pred = np.load('results/kfold_subject/subject_based/'+path+'_y_pred_'+feat+'_features_'+str(fold)+'.npy', allow_pickle=True)
            RF_test = np.load('results/kfold_subject/subject_based/'+path+'_y_test_'+feat+'_features_'+str(fold)+'.npy', allow_pickle=True)
            mape = (mean_absolute_percentage_error(RF_test, RF_pred))
            dct = ({ 'type': type,
                     'features': feat,
                     'fold': fold+1,
                     'index': 1,
                     'MAPE': mape
                   })
            dct = {k:[v] for k,v in dct.items()}  # WORKAROUND
            df = pd.DataFrame(dct)
            tmp_df = pd.concat((tmp_df,df))

In [25]:
MAPE_df = tmp_df.drop(columns=['index'])
MAPE_df

  type features fold      MAPE
0  mlp      all    1  0.307251
0  mlp       ou    1  0.397121
0  mlp  classic    1  0.340453
0  mlp    pupil    1  0.315663
0   rf      all    1  0.343720
0   rf       ou    1  0.346047
0   rf  classic    1  0.338887
0   rf    pupil    1  0.323192
0  mlp      all    2  0.259517
0  mlp       ou    2  0.283344
0  mlp  classic    2  0.281251
0  mlp    pupil    2  0.246853
0   rf      all    2  0.266229
0   rf       ou    2  0.278979
0   rf  classic    2  0.287297
0   rf    pupil    2  0.261762
0  mlp      all    3  0.273698
0  mlp       ou    3  0.274053
0  mlp  classic    3  0.255345
0  mlp    pupil    3  0.260275
0   rf      all    3  0.272583
0   rf       ou    3  0.272316
0   rf  classic    3  0.264384
0   rf    pupil    3  0.260157
0  mlp      all    4  0.407727
0  mlp       ou    4  0.393799
0  mlp  classic    4  0.395093
0  mlp    pupil    4  0.392409
0   rf      all    4  0.401100
0   rf       ou    4  0.403961
0   rf  classic    4  0.408128
0   rf    pupil    4  0.387970
0  mlp      all    5  0.480139
0  mlp       ou    5  0.426990
0  mlp  classic    5  0.438991
0  mlp    pupil    5  0.442217
0   rf      all    5  0.465231
0   rf       ou    5  0.446928
0   rf  classic    5  0.450699
0   rf    pupil    5  0.453581

In [26]:
def parse_file(namefile):
    
    df_tmp = pd.DataFrame(columns = ['type','fold','RMSE','MAE','R2','features'])

    with open(namefile, "r") as f:
        file_contents = f.read()

    rmse = re.findall(r"RMSE test (-?[\d.]+)", file_contents)
    mae = re.findall(r"MAE test (-?[\d.]+)", file_contents)
    r2 = re.findall(r"R2 test (-?[\d.]+)", file_contents)
    
    pattern = r"_(.*?)\.log"
    match = re.search(pattern, namefile)
    print(match.group(1))
    if match:
        type_ = match.group(1)

    df_tmp['RMSE'] = pd.to_numeric(pd.Series(rmse))
    df_tmp['MAE'] = pd.to_numeric(pd.Series(mae))
    df_tmp['R2'] = pd.to_numeric(pd.Series(r2))
    df_tmp['type'] = pd.Series([type_]*len(mae))
    df_tmp['fold'] = pd.to_numeric(pd.Series([1,2,3,4,5]*(4)))
    
    series_values = ['all'] * 5 + ['classic'] * 5 + ['pupil'] * 5 + ['ou'] * 5
    series_index = ['A', 'B', 'C', 'D', 'E'] * 4

    df_tmp['features'] = pd.Series(series_values)

    return df_tmp

In [27]:
df_mlp = parse_file("results/kfold_subject/output_mlp.log")

subject/output_mlp

In [28]:
df_rf = parse_file("results/kfold_subject/output_rf.log")

subject/output_rf

In [29]:
df_values = pd.concat((df_mlp,df_rf))

In [30]:
df_values

                  type  fold       RMSE       MAE        R2 features
0   subject/output_mlp     1   5.943081  5.188627  0.069311      all
1   subject/output_mlp     2  10.161729  6.064146 -0.058481      all
2   subject/output_mlp     3   7.137020  5.723141 -0.101415      all
3   subject/output_mlp     4   8.141195  6.987332 -0.064724      all
4   subject/output_mlp     5   8.214942  6.589985  0.039356      all
5   subject/output_mlp     1   6.291195  5.489279 -0.042912  classic
6   subject/output_mlp     2   9.857382  6.211742  0.003973  classic
7   subject/output_mlp     3   7.009607  5.380381 -0.062440  classic
8   subject/output_mlp     4   7.916204  6.806904 -0.006687  classic
9   subject/output_mlp     5   8.318495  6.942868  0.014984  classic
10  subject/output_mlp     1   6.068692  5.226886  0.029554    pupil
11  subject/output_mlp     2   9.989082  5.834091 -0.022820    pupil
12  subject/output_mlp     3   6.991124  5.495258 -0.056845    pupil
13  subject/output_mlp     4   8.025933  6.786983 -0.034789    pupil
14  subject/output_mlp     5   8.892140  7.382940 -0.125554    pupil
15  subject/output_mlp     1   7.371625  6.183360 -0.431883       ou
16  subject/output_mlp     2   9.896803  6.317140 -0.004010       ou
17  subject/output_mlp     3   7.045175  5.565571 -0.073250       ou
18  subject/output_mlp     4   7.823017  6.750733  0.016874       ou
19  subject/output_mlp     5   8.231399  6.634456  0.035503       ou
0    subject/output_rf     1   6.331390  5.535620 -0.056280      all
1    subject/output_rf     2  10.101780  6.135461 -0.046029      all
2    subject/output_rf     3   6.998060  5.646803 -0.058943      all
3    subject/output_rf     4   8.111162  6.897085 -0.056883      all
4    subject/output_rf     5   8.319537  6.825781  0.014737      all
5    subject/output_rf     1   6.260700  5.462041 -0.032826  classic
6    subject/output_rf     2   9.861494  6.306782  0.003142  classic
7    subject/output_rf     3   6.926918  5.436220 -0.037522  classic
8    subject/output_rf     4   7.905940  6.898313 -0.004078  classic
9    subject/output_rf     5   8.358903  6.979310  0.005391  classic
10   subject/output_rf     1   6.114581  5.235487  0.014822    pupil
11   subject/output_rf     2  10.003944  6.040716 -0.025866    pupil
12   subject/output_rf     3   6.965560  5.471956 -0.049130    pupil
13   subject/output_rf     4   8.033967  6.754425 -0.036861    pupil
14   subject/output_rf     5   8.568569  7.201053 -0.045130    pupil
15   subject/output_rf     1   6.372747  5.549805 -0.070125       ou
16   subject/output_rf     2   9.881377  6.242345 -0.000882       ou
17   subject/output_rf     3   6.960772  5.523243 -0.047688       ou
18   subject/output_rf     4   7.791247  6.808015  0.024843       ou
19   subject/output_rf     5   8.242047  6.755957  0.033006       ou

In [31]:
df_values['features'].unique()

array(['all', 'classic', 'pupil', 'ou'], dtype=object)

In [32]:
MAPE_df['features'].unique()

array(['all', 'ou', 'classic', 'pupil'], dtype=object)

In [33]:
MAPE_df.reset_index()

    index type features fold      MAPE
0       0  mlp      all    1  0.307251
1       0  mlp       ou    1  0.397121
2       0  mlp  classic    1  0.340453
3       0  mlp    pupil    1  0.315663
4       0   rf      all    1  0.343720
5       0   rf       ou    1  0.346047
6       0   rf  classic    1  0.338887
7       0   rf    pupil    1  0.323192
8       0  mlp      all    2  0.259517
9       0  mlp       ou    2  0.283344
10      0  mlp  classic    2  0.281251
11      0  mlp    pupil    2  0.246853
12      0   rf      all    2  0.266229
13      0   rf       ou    2  0.278979
14      0   rf  classic    2  0.287297
15      0   rf    pupil    2  0.261762
16      0  mlp      all    3  0.273698
17      0  mlp       ou    3  0.274053
18      0  mlp  classic    3  0.255345
19      0  mlp    pupil    3  0.260275
20      0   rf      all    3  0.272583
21      0   rf       ou    3  0.272316
22      0   rf  classic    3  0.264384
23      0   rf    pupil    3  0.260157
24      0  mlp      all    4  0.407727
25      0  mlp       ou    4  0.393799
26      0  mlp  classic    4  0.395093
27      0  mlp    pupil    4  0.392409
28      0   rf      all    4  0.401100
29      0   rf       ou    4  0.403961
30      0   rf  classic    4  0.408128
31      0   rf    pupil    4  0.387970
32      0  mlp      all    5  0.480139
33      0  mlp       ou    5  0.426990
34      0  mlp  classic    5  0.438991
35      0  mlp    pupil    5  0.442217
36      0   rf      all    5  0.465231
37      0   rf       ou    5  0.446928
38      0   rf  classic    5  0.450699
39      0   rf    pupil    5  0.453581

In [34]:
result = pd.merge(df_values,MAPE_df,on=['fold','features','type'],how='inner')
result

Empty DataFrame
Columns: [type, fold, RMSE, MAE, R2, features, MAPE]
Index: []

In [35]:
result.to_csv('metrics_results.csv', index=False)

In [36]:
df_mlp = result[result['type']=='mlp']

In [37]:
df_mlp[['RMSE','MAE','MAPE','R2','features']].groupby(['features']).mean().sort_values('RMSE')

Empty DataFrame
Columns: [RMSE, MAE, MAPE, R2]
Index: []

In [38]:
df_gp = result[result['type']=='gp']

In [39]:
df_gp[['RMSE','MAE','MAPE','R2','features']].groupby(['features']).mean().sort_values('RMSE')

Empty DataFrame
Columns: [RMSE, MAE, MAPE, R2]
Index: []

In [40]:
df_rf = result[result['type']=='rf']

In [41]:
df_rf[['RMSE','MAE','MAPE','R2','features']].groupby(['features']).mean().sort_values('RMSE')

Empty DataFrame
Columns: [RMSE, MAE, MAPE, R2]
Index: []

In [42]:
df_svm = result[result['type']=='svm']

In [43]:
df_svm[['RMSE','MAE','R2','MAPE','features']].groupby(['features']).mean().sort_values('RMSE')

Empty DataFrame
Columns: [RMSE, MAE, R2, MAPE]
Index: []